<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academia_De_Idiomas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Formularios.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Academia_De_Idiomas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Imagenes/Logo - Academia de idiomas.png" width="160px"/></a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="inicioSesion">Inicio de Sesión</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Idiomas
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Ingles" })">Inglés</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Español" })">Español</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Frances" })">Frances</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Aleman" })">Aleman</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Italiano" })">Italiano</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Japones" })">Japones</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Ruso" })">Ruso</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Idiomas", "Idiomas", new{ idioma = "Portugues" })">Portugues</a></li>
                              </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PlanCurso">Plan de Curso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Registro">Inscribete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" id="container_footer">

            <h1>Contáctanos</h1>

            <div class="box_footer ">
                <h5 class="bi bi-facebook" id="left"> Academia de lenguas internacionales</h5>
                <h5 class="bi bi-twitter" id="right"> @@AcademiadeLenguasInternacionales</h5>
            </div>
            <div class="box_footer ">
                <h5 class="bi bi-instagram" id="left"> Academia de lenguas internacionales</h5>
                <h5 class="bi bi-whatsapp" id="right"> +503 7705 - 1256</h5>
            </div>
            
            &copy; 2022 - Academia_De_Idiomas
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>