@{
    ViewData["Title"] = $"Idiomas";
}



<header id="header-idiomas">
    <h1>Aprende @ViewBag.idioma</h1>
</header>

<div id="main-idiomas">
    <section>
        <h2>La forma más rápida y efectiva de aprender @ViewBag.idioma</h2>
        <p>
            @ViewBag.parrafo
        </p>
        <p>
            @ViewBag.parrafo2
        </p>
    </section>
    
    <section>
        <h2>Beneficios de aprender @ViewBag.idioma</h2>

        <ul>
            @foreach(string Beneficios in ViewBag.Beneficios)
            {
                <li>@Beneficios</li>
            }
        </ul>

    </section>
    <button type="button" class="btn btn-primary" ><a asp-area="" asp-controller="Usuario" asp-action="Registro">Obtener Curso</a></button>

</div>