@using Academia_De_Idiomas.Context
@{
    ViewData["Title"] = "Registro de usuario";
}

<div id="main-registro">
    <section id="info">
        <h1>HABLA OTRO IDIOMA HOY</h1>

        <p>
            Más de un millón de personas hablan otro idioma gracias
            a nuestra Academia de Lenguas Internacionales. Empieza hoy y se
            parte de nuestra comunidad donde le garantizamos al 100% su aprendizaje.
        </p>

        <img src="~/Imagenes/world.svg"/>
    </section>

    <div class="container" id="form-registro">
        <form method="post">
            <h2>Regístrate</h2>

            <div class="input-field">
                <i class="bi bi-person-circle"></i>
                <input name="NomAlum" type="text" placeholder="Nombre"/>
            </div>
            <div class="input-field">
                <i class="bi bi-person-circle"></i>
                <input name="ApeAlum" type="text" placeholder="Apellido"/>
            </div>
            <div class="input-field">
                <i class="bi bi-envelope"></i>
                <input name="Correo" type="email" placeholder="Gmail"/>
            </div>
            <div class="input-field">
                <i class="bi bi-telephone"></i>
                <input name="Telefono" type="tel" placeholder="Teléfono"/>
            </div>
            <div class="input-field">
                <i class="bi bi-lock-fill"></i>
                <input name="Contraseña" type="password" placeholder="Contraseña"/>
            </div>
            <div class="btn">
           @*     <select name="idioma" >
                    <option selected disabled>Idiomas</option>
                     @foreach(var idioma in ViewBag.idiomas)
                        {
                            <option value="@idioma.Id">@idioma.Id = @idioma.NomIdioma</option>
                        }
                </select>*@

                <select name="CodIdioma" >
                    <option selected disabled>Idiomas</option>
                     <option value="dennis">DENNIS</option>
                     <option value="hector">HECTOR</option>
                </select>
            </div>
           @* <div class="btn">
                <select name="modalidad">
                    <option selected disabled>Modalidad</option>
                     @foreach(Modalidad modalidad in ViewBag.modalidad)
                        {
                            <option value="@modalidad.NomModalidad">@modalidad.NomModalidad</option>
                        }
                </select>
            </div>*@


            <button type="submit" value="Registrarse" class="btn btn-primary">Inscribirse</button>
        </form>

        <h2>
            @ViewBag.nombre;
            @ViewBag.apellido;
            @ViewBag.gmail;
            @ViewBag.Telefono;
            @ViewBag.Contraseña;
@*            @ViewBag.idioma;
            @ViewBag.modalidad;*@
        </h2>

        <h2></h2>
    </div>
</div>

